.div-feedbacks-acerto {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10vh;
}

.div-feedbacks-acerto img {
  border-radius: 50%;
  box-shadow: 0 0 3px 5px rgb(47, 193, 140);
  margin-bottom: -20vh;
  width: 200px;
  z-index: 1;
}

.feedbacks-background-acerto {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  height: 45vh;
  padding-top: 150px;
  text-align: center;
  width: 500px;
  z-index: -1;
}

.feedbacks-background-acerto div h1 {
  color: rgb(47, 193, 140);
  font-size: 30px;
  margin-bottom: 10px;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.35);
}

.feedbacks-background-acerto div h3 {
  color: rgb(47, 193, 140);
  margin-bottom: 10px;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.35);
}

.feedbacks-background-acerto div p {
  color: grey;
  margin-bottom: 1vh;
}

.feedback-buttons {
  margin: 10px;
  text-align: center;
}

.feedback-buttons button {
  border: none;
  border-radius: 5px;
  margin: 0 8px;
  padding: 15px;
  width: 240px;
}

.button-ranking {
  background-color: rgb(238, 28, 37);
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  font-family: Epilogue , sans-serif;
}

.button-play-again {
  background-color: rgb(0, 140, 89);
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  font-family: Epilogue , sans-serif;
}
